body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  background: no-repeat url(https://wallpaperaccess.com/full/1578547.jpg) fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */


.row {
  color: white;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.cards {
  display: flex;
  flex-direction: row;
}

.card_got {
  background: rgba(119, 119, 119, 0.0.5);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  max-width: 30%;
  text-align: center;
}


.card_title {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card_name {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.card_img {
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  filter: brightness(0.8);
  /* box-shadow: inset 0px 0px 20px 20px #000; */
}


.btn_menu {
  border: 2px rgb(255, 255, 255) solid;
  color: white;
  font-weight: bold;
  background: rgba(119, 119, 119, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  width: 150px;
  height: 35px;
}

.btn_fav {
  border: 2px rgb(255, 255, 255) solid;
  color: white;
  font-weight: bold;
  background: rgba(119, 119, 119, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  width: 60px;
  height: 40px;
  font-size: 25px;
}


.btn_fav:hover {
  /* font-size: 25px; */
}

.btn_fav:active {
  background: rgba(182, 182, 182, 0.3);
}

.btn_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;  
}

.btn_menu:hover {
  font-size: 17px;
}

.btn_menu:active {
  background: rgba(182, 182, 182, 0.3);
}

.cont_title {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.conts {
  text-align: center;
}


.conts_cont {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.carte {
  width: 800px;
}